*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*body*/
body{
    font-family:"Rubik Mono One", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

/*page*/
.page{
    height: 100vh;
    width: 100%;
    position: relative;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

/*end page*/

/*elements on the page*/
img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

p{
    text-align: center;
    position: absolute;
    bottom: 100px;
    width: 100%;
    color: yellow;
    font-size: 50px;
    
}

#greentext{
    color: green;
}

/*end elements on the page*/

/*button*/
.button{
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    border-radius: 50%;
    display: inline-block;
    margin: 7px;
    cursor: pointer;
    
}
/*end button*/

/*container*/
.container{
    position: fixed;
    right: 10px;
    top: 30px;
    z-index: 2;
}
/*end container*/

/*end body*/